<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RAILS PRODUCT</title>
    </head>
    <body>
        <% @products.each do |product| %>
            <p><%= link_to product.name, product_path(product) %></p>
        <% end %>
    </body>
</html>